__pycache__/
*.pyc
*.egg-info/
*.DS_Store
.idea/
.vscode/

/datasets/
/ManiSkill/mp_collect/
/openvla/checkpoints/
/openvla/wandb/
/SimplerEnv/wandb/
/SimplerEnv/wandb_backup/
/SimplerEnv/scripts/stats/

*.log
**/nohup*
wandb/
temp/
exp_local/

openvla/models
